{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen"/>
        <style>
            body {
                padding-top: 50px;
            }
            .alert{
                margin-bottom: 10px;
            }
            ul.breadcrumb {
                margin-bottom: 10px;
                font-size: 10px;
                padding: 0px 15px;
            }
        </style>
        <link rel="stylesheet" type="text/css href" href="{% static 'css/bootstrap-responsive.css' %}" />
        {% block extra-style %}
        {% endblock %}
        <script src="{% static 'js/jquery-1.10.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        {% block extra-script %}
        {% endblock %}
        <title>{% block title %}Piweb | {% endblock %}</title>
    </head>
    
    <body>
        <div class="navbar navbar-inverse nav navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    {% block brand %}
                        <a class="brand" href="/">Piweb</a>
                    {% endblock %}
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="divider-vertical"></li>
														<li class="dropdown">
															<a class="dropdown-toggle" href="#" data-toggle="dropdown">Test Drop<span class="caret"></span></a>
													    <ul class="dropdown-menu">
													        <li>Test text</li>
																	<li><a href="www.google.com">Test link</a></li>
													    </ul>
														</li>
                        </ul>
                        <div class="pull-right">
                            <ul class="nav pull-right">
															<li><a href=http://forecast.weather.gov/MapClick.php?lat=41.88200&lon=-72.978&unit=0&lg=english&FcstType=graphical>NOAA Local Weather</a></li>
                            </ul><!--right side stuff-->
                        </div><!--pull-right-->
                    </div><!--nav-collapse-->
                </div><!--container-->
            </div><!--navbar-inner-->
        </div><!--navbar-->
        
        <div class="container-fluid">
            {% block breadcrumbs %}
                {% include 'snippets/breadcrumbs.html' %}
            {% endblock %}
            
            {% block messages %}
                {% include 'snippets/messages.html' %}
            {% endblock %}
            
            {% block content %}
            {% endblock %}
        </div><!--container-->
    </body>
</html>
